 /* SIN MODIFICAR EL CÓDIGO HTML, crea las reglas y selectores correctos 
 en base a las acciones que se piden en la descripción del ejercicio. */
 /************************************************/
 /************************************************/
/*Coloca a continuación tu solución*/
#lote1{
    background-color:#ffefe4;
}
 #lote2{
     background-color:#7cafb2;
 }
 #lote3{
     background-color:#e4fdff;
 }
h1{
    color:#b29d8e;
    text-align: center;
    text-shadow:3px 2px 3px #12B0FF;
}
p{
    text-transform: uppercase;
}
.hombre {
    color: #0000ff;
}
.mujer{
    color:#ff66ff;
}
.familia{
   text-decoration: underline;
}
.menor{
    text-transform: capitalize;
}
#casa2 .familia{
    text-align: right;
}
#casa2 .visita{
    font-weight: bold;
}
#casa2 > p{
    font-style:italic;
}
#casa1 .visita .hombre{
    font-size: 22px;
}
#casa3 .familia .mujer {
    letter-spacing: 10px;
}
#casa2 .visita p:last-child{
    cursor: pointer;
}
#casa3 .familia p:first-child{
    transform: rotate(5deg);
}



 /************************************************/
 /************************************************/
 /*No editar abajo*/
 body{
     font-family: Verdana, sans-serif;
     font-size: 14px;
     background-color: #f8f8f8;
 }
 #cuadra{
     width: 1050px;
     margin: 100px auto 0 auto;
     border-spacing: 0;
 }
 .casa{
     width: 100px;
     margin: 0 auto;
 }
 p{
     line-height: 0.90em;
     margin-top: 0;
     margin-bottom: 11px;
 }
 #cuadra tbody td{
     background-image: url("img/casa.svg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: 360px 338px;
     width: 360px;
     height: 338px;
 }